version: '3'
services:
  app:
    container_name: server-container
    restart: always
    build: ./
    # command: npm start -- -L
    working_dir: /usr/src/app
    ports:
      - '3000:3000'
    volumes:
      - ./:/usr/src/app
    links: 
      - mongo
  client:
    container_name: client-container
    restart: always
    build: ./client/
    volumes:
      - ./client:/client/
    # environment:
    # NODE_ENV: production
    ports:
      - '4200:4200'
    links:
      - app
  mongo:
    container_name: mongo-database
    image: mongo:3.6.21-xenial
    expose:
      - "27017"
    ports:
      - '27017:27017'
    volumes:
      - node_angDB:/data/db 
volumes:
  node_angDB: